nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    a.navbar-brand(href='#') todoPython
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='#') Home
            li.nav-item
                a.nav-link.link-modal-auth(href='#' data-toggle='modal' data-target='.modal-auth') Auth
            li.nav-item
                a.nav-link.link-modal-settings(href='#' data-toggle='modal' data-target='.modal-settings') Settings